<main class="index">
        <div class="text-center my-auto">
            <img src="/img/logo.png" alt="logo-space-x" class="logo-space-x">
            <h1 class="index-text">Crypto</h1>
            <h3 class="index-text">Manage and share notes</h1>
            <a class="btn-home btn btn-primary btn-lg" href="/profile">
                Let's start
            </a>
        </div>
        <div class="overlay"></div>
</main>