        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                 <img src="/img/marciano-perfil.png" alt="marciano-perfil" class="img-perfil">
                    <h3>Welcome {{user.fullname}}!</h3>
                    <a href="/cards" class="btn btn-primary m-4">
                        Notes    
                    </a>
                    <a href="/signup" class="btn btn-primary m-4">
                        Create user    
                    </a>
                </div>
            </div>
        </div>